<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suites" configfailurepolicy="continue">
  <test name="Test 1">
    <classes>
      <class name="parallel.TestLogin">
        <methods>
          <include name="testLogin"/>
          <include name="testDummy"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
